.navbar-site {
    background-color: #fff;
    color: #000;
}

i {
    color: #000;
}

section {
    margin-bottom: 2rem;
}

.card h3 {
    font-size: 1.2em;
}

.card {
    text-align: center;
}

footer {
    font-size: 1.5em;
}